<footer class="footer">
	<div class="footer-content">

		<p class="brand">TULUZ</p>

		<a href="https://instagram.com/tuluz_scl" target="_blank" class="instagram">
			<i class="fa-brands fa-instagram"></i>
		</a>

	</div>
</footer>
