<header class="header">
	<div class="container">

		<h1 class="logo">
			<a href="/">
				<img src="/assets/img/logo.jpg" alt="TULUZ Logo" width="250" height="100">
			</a>
		</h1>

		<div class="search">
			<input type="text" placeholder="Buscar..."/>
			<button>
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>
		</div>

		<nav class="nav">
			<a href="#">
				<i class="fa-regular fa-user"></i>
			</a>
			<a href="#">
				<i class="fa-solid fa-cart-shopping"></i>
			</a>
		</nav>

	</div>
</header>
