<body>

	<header class="header">
		<div class="container">
			<h1 class="logo">TULUZ</h1>

			<nav class="nav">
				<a href="/">Inicio</a>
				<a href="/nosotros">Productos</a>
				<a href="/contacto">Contacto</a>
			</nav>
		</div>
	</header>

</body></html>
