<nav class="categories-menu">

	<div class="menu-item">
		<a href="/aros" class="menu-link">Aros</a>
		<div class="submenu">
			<a href="/aros/miyuki">Aros Miyuki</a>
			<a href="/aros/arcilla">Aros Arcilla polimérica</a>
		</div>
	</div>

	<div class="menu-item">
		<a href="/pulseras" class="menu-link">Pulseras</a>
	</div>
</div>

<div class="menu-item">
	<a href="/collares" class="menu-link">Collares</a>
	<div class="submenu">
		<a href="#">Collares de piedra</a>
		<a href="#">Chockers</a>
	</div>
</div></nav>
