{% extends 'layouts/base.html.twig' %}

{% block title %}Inicio - Tuluz
{% endblock %}

{% block content %}

	<section class="hero">
		<div class="hero-content">
			<h1>TULUZ</h1>
			<p>Accesorios hechos a mano</p>
		</div>
	</section>

	<section id="productos" class="products">
		<h2 class="section-title">Accesorios</h2>

		<div class="grid">

			<div class="card">
				<img src="/assets/img/aros1.jpg" alt="Aros">
				<h3>Aros Flor</h3>
				<p>$25.000</p>
			</div>

			<div class="card">
				<img src="/assets/img/aros2.jpg" alt="Aros">
				<h3>Aros Minimal</h3>
				<p>$30.000</p>
			</div>

			<div class="card">
				<img src="/assets/img/collar.jpg" alt="Collar">
				<h3>Collar Dorado</h3>
				<p>$60.000</p>
			</div>
			<div class="card">
				<img src="/assets/img/aros3.jpg" alt="Aros">
				<h3>Aros flor</h3>
				<p>$25.000</p>
			</div>

		</div>
		<a href="#productos" class="btn">Ver más</a>
	</div>
</section>{% endblock %}
