{% extends 'layouts/base.html.twig' %}

{% block title %}Inicio - Tuluz
{% endblock %}

{% block content %}

	<section
		class="hero">

		<!-- Slider main container -->
		<div
			class="swiper">
			<!-- Additional required wrapper -->
			<div
				class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide"><img src="/assets/img/hero/fondo1.jpg"></div>
				<div class="swiper-slide"><img src="/assets/img/hero/fondo2.jpg"></div>
				<div class="swiper-slide"><img src="/assets/img/hero/fondo3.jpg"></div>
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>

		</div>

	</section>
	<nav class="categories-menu">

		<div class="menu-item">
			<span>Aros</span>
			<div class="submenu">
				<a href="#">Aros Miyuki</a>
				<a href="#">Aros Arcilla polimérica</a>
				<a href="#">Aros bordados</a>
			</div>
		</div>

		<div class="menu-item">
			<span>Pulseras</span>
			<div class="submenu">
				<a href="#">Pulseras gruesas</a>
				<a href="#">Pulseras delgadas</a>
			</div>
		</div>

		<div class="menu-item">
			<span>Collares</span>
			<div class="submenu">
				<a href="#">Collares de piedra</a>
				<a href="#">Chockers</a>
			</div>
		</div>

	</nav>

	<section id="productos" class="products">
		<div class="grid">

			<div class="card">
				<img src="/assets/img/aros1.jpg" alt="Aros">
				<h3>Aros Flor</h3>
				<p>$25.000</p>
			</div>

			<div class="card">
				<img src="/assets/img/aros2.jpg" alt="Aros">
				<h3>Aros Minimal</h3>
				<p>$30.000</p>
			</div>

			<div class="card">
				<img src="/assets/img/collar.jpg" alt="Collar">
				<h3>Collar Dorado</h3>
				<p>$60.000</p>
			</div>

			<div class="card">
				<img src="/assets/img/aros3.jpg" alt="Aros">
				<h3>Aros Flor</h3>
				<p>$25.000</p>
			</div>

		</div>

		<a href="/productos" class="btn">Ver más</a>

	</section>

	<!-- BENEFICIOS -->
	<section class="benefits">
		<div class="benefits-container">

			<div class="benefit">
				<i class="fa-solid fa-truck"></i>
				<p>Envío gratis desde $70.000 - válido en la RM</p>
			</div>

			<div class="benefit">
				<i class="fa-solid fa-tag"></i>
				<p>Regístrate y obtén 10% de descuento en tu primera compra</p>
			</div>

			<div class="benefit">
				<i class="fa-solid fa-shield-halved"></i>
				<p>Garantía por 3 meses</p>
			</div>

			<div class="benefit">
				<i class="fa-solid fa-arrow-rotate-left"></i>
				<p>10 días para devolución y 30 para cambios</p>
			</div>

		</div>
	</section>

{% endblock %}
