<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Tuluz</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


		<link rel="stylesheet" href="/assets/css/login.css">
		<script type="module" src="/assets/js/login.js"></script>
	</head>

	<body>

		<main>
			{% block content %}{% endblock %}
		</main>


	</body>
</html>
