<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Tuluz</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="/assets/css/header.css">
		<link rel="stylesheet" href="/assets/css/home.css">
	</head>

	<body>

		{% include 'partials/header.html.twig' %}

		<main>
			{% block content %}{% endblock %}
		</main>

		{% include 'partials/footer.html.twig' %}

	</body>
</html>
