{% extends 'layouts/base.html.twig' %}

{% block title %}Inicio - Tuluz
{% endblock %}

{% block content %}

	{% include 'partials/menu.html.twig' %}

	<section id="productos" class="products">
		<div class="grid">

			<div class="card" data-product-id="p1">
				<img src="/assets/img/aros1.jpg" alt="Aros">
				<h3>Aros Flor</h3>
				<p>$25.000</p>
			</div>

			<div class="card" data-product-id="p1">
				<img src="/assets/img/aros2.jpg" alt="Aros">
				<h3>Aros Minimal</h3>
				<p>$30.000</p>
			</div>

			<div class="card" data-product-id="p1">
				<img src="/assets/img/collar.jpg" alt="Collar">
				<h3>Collar Dorado</h3>
				<p>$60.000</p>
			</div>

			<div class="card" data-product-id="p1">
				<img src="/assets/img/aros3.jpg" alt="Aros">
				<h3>Aros Flor</h3>
				<p>$25.000</p>
			</div>

		</div>

	</section>

	<!-- BENEFICIOS -->
	<section class="benefits">
		<div class="benefits-container">

			<div class="benefit">
				<i class="fa-solid fa-truck"></i>
				<p>Envío gratis desde $70.000 - válido en la RM</p>
			</div>

			<div class="benefit">
				<i class="fa-solid fa-tag"></i>
				<p>Regístrate y obtén 10% de descuento en tu primera compra</p>
			</div>

			<div class="benefit">
				<i class="fa-solid fa-shield-halved"></i>
				<p>Garantía por 3 meses</p>
			</div>

			<div class="benefit">
				<i class="fa-solid fa-arrow-rotate-left"></i>
				<p>10 días para devolución y 30 para cambios</p>
			</div>

		</div>
	</section>

{% endblock %}
